@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //ViewData["Title"] = "Index";
    ViewData["Title"] = "Datahantering med XML";
}

<h2>Inlämning 4 MVC</h2>

<h4>Fixade uppgifter:</h4>
<p>
    - Följ guiden ("Building your first...") så du får en sajt som kan administrera filmer.
</p>
<p>
    - Ändra titeln på sajten till Movie AB (på alla sidor)
</p>
<p>
    - Döp om länk till filmerna till Movies
</p>
<p>
    - Ändra så det går att sätta ett pris på upp till $200 för en film
</p>

<h4>Kvar att göra uppgifter:</h4>
<p>
    - Skapa en endpoint (mha Controller) som hälsar: /Extra/Hey?name=Ali => Hello Ali!
</p>
<p>
    - Skapa en endpoint (mha Controller) som ger tillbaka nummer: /Extra/Numbers?from=3&to=5 => 3,4,5
</p>
<p>
    - Skapa en endpoint (mha Controller) som ger tillbaka en html-sida: /Extra/Partners
</p>
<p>
    - Länka till dessa tre endpoint'en från startsidan
</p>
<p>
    - Skapa en länk Partners i huvudmenyn som går till /Extra/Partners
</p>
